<main style = "margin-left: 20px;">
    <p> Child received name : {{ name }} </p>
    <button (click) = "sendBack()"> Send back to Parent</button>
    <button (click) = "increment()">Click to Increment</button>

    <!-- Content Projection -->
     <!-- <div class = "class">
        <div class = "header">
            <ng-content select = "[card-title]">

            </ng-content>
        </div>
        <div class = "body">
            <ng-content>

            </ng-content>
        </div>
        
     </div> -->


    <!-- USING SERVICES DEMO -->
    <!-- <h2> Service Demo Shared</h2>
    <p> Item Count : {{ itemCounter.itemCount}}</p> -->

    <h2> Service Demo Isolated </h2>
    <p> Value Count : {{ itemCounter.value }}</p>
    <button (click) = "itemCounter.inc()" > Increment </button>
</main>