main {
    min-height: 100vh;
    background-color: rgb(68, 3, 3);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

/* selecting id */
#title {
    color: aliceblue;
}

/* selecting class */
.intro {
    padding: 10px;
    color: bisque;
    font-size: 18px;
}

.card {
    background-color: aquamarine;
    width: 300px;
    
    /*Box Model*/
    padding: 10px;
    margin: 10px auto;
    border-radius: 10px;
}

#list {
    text-align: left;
    color: rgb(68, 3, 3);
}

button {
  background-color: purple;
  color: white;
  border: none;
  padding: 10px 10px;
  cursor: pointer;
}